# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

parameters:
    config:
        cron:
            batchsize: 100
        channels:
            email:
                from: info@sitedog.ru

php:
    date.timezone: Europe/Prague


application:
    catchExceptions: true
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter


session:
    expiration: 14 days

doctrine:
    server: localhost
    user: maximw1_sitedog
    password: 'NcmcZ2qHrQ]2'
    dbname: maximw1_sitedog
    debug: on
    metadata:
        App: %appDir%/entites

console:
    url: http://sitedog.ru
    commands:
        - App\Console\CheckCommand

services:
    router: App\RouterFactory::createRouter
    authenticator: App\Models\Authenticator
    authorizator:
        class: Nette\Security\Permission
        setup:
            - addRole('guest')
            - addRole('user')
            - addResource('Homepage')
            - addResource('Tasks')
            - addResource('Contacts')
            - addResource('User')
            - addResource('User:registration')
            - addResource('User:login')
            - addResource('User:logout')
            - allow('guest', 'Homepage')
            - allow('guest', 'User:registration')
            - allow('guest', 'User:login')
            - allow('user',  'Homepage')
            - allow('user',  'User')
            - allow('user',  'User:logout')
            - allow('user',  'Tasks')
            - allow('user',  'Contacts')
    - App\Models\Config( %config% )
    - App\Models\Crypto
    - App\Models\Users
    - App\Models\Tasks
    - App\Models\Contacts
    - App\Models\Channels\ChannelsFactory

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
