{layout "../@layout.latte"}

{block title}
Login
{/block}

{block content}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-6 text-center">
            <div class="service-box">
                {control loginForm}
            </div>
        </div>
    </div>
</div>
{/block}