{layout "../@layout.latte"}

{block title}
Registration
{/block}

{block content}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-offset-2 col-md-6 text-center">
            {control registrationForm}
        </div>
    </div>
</div>
{/block}